/* 🎭 FONT SETTINGS – SORA AOI 🎭 */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@420&display=swap');
:root {
  --font-primary: "Sora", sans-serif;
  --font-display: "Sora", sans-serif;
  --font-headline: "Sora", sans-serif;
  --font-code: "Sora", monospace;
}

/* 🔴 SOME CSS, CHANGE & FIX 🔴 */
/* Server Name Tooltip – Allow full server name in one line */
[class^=tooltip] {
    max-width: unset !important;
}

/* SCROLL OPTIMIZATION */
[class*='scroll'] {
    will-change: scroll-position;
}

/* SEARCH BAR */
.icon_fea832.visible_fea832 {
    color: var(--text-2);
}

/* MOVE VENCORD TOOLBOX */
.visual-refresh .toolbar__9293f .iconWrapper__9293f {
  margin: 0;
  order: -1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.visual-refresh .toolbar__9293f .iconWrapper__9293f:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Role color on profile */
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}

/* QUICK SWITCHER FIXES */
.layer_bc663c:has(.quickswitcher_ac6cb0) {
    justify-content: start;
}
.quickswitcher_ac6cb0 {
    background: none;
    padding: 0;
}
.quickswitcher_ac6cb0 .scroller_ac6cb0 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 8px !important;
}
.quickswitcher_ac6cb0 .input_ac6cb0 {
    height: 50px;
}
.quickswitcher_ac6cb0 .input_ac6cb0[value=""] {
    border-radius: 8px;
}
.quickswitcher_ac6cb0 .input_ac6cb0:not([value=""]) {
    border-radius: 8px 8px 0 0;
}
.quickswitcher_ac6cb0 .input_ac6cb0[value=""] + .scroller_ac6cb0,
.quickswitcher_ac6cb0 .protip_ac6cb0 {
    display: none;
}
.backdrop__1a911:has(+ .layer_bc663c .quickswitcher_ac6cb0) {
    opacity: 0;
}


/* 🟠 CHANNEL LIST & MESSAGE ACTIONS 🟠 */
/* Reduce Channel List Spacing */
[class="link__2ea32"] {
    padding-block: 2px;
}

/* CHANNEL OUTLINES & HIGHLIGHTED ICONS */
#app-mount .containerDefault_c69b6d .selected_c69b6d .wrapper__2ea32 .link__2ea32 {
  background: var(--bg-3);
  border-radius: 5px;
  margin-left: 5px;
  transition: background 0.2s ease-in-out;
}

.unread__2ea32 {
  width: 3px;
  border-radius: 20px;
  background-color: rgba(128, 211, 239, 0.657);
  margin-left: 3px;
}


/* background coloyr button +server, discover, download */
.circleIconButton__5bc7e {
  background-color: var(--bg-mod-strong);
}

/* 🟡 "READ ALL" BUTTON MODIFICATIONS 🟡 */
/* Read All Button */
.vc-ranb-button {
  margin: 0 18px;
  width: var(--guildbar-avatar-size);
  min-height: 40px;
  max-height: 40px;
  left: -7px;
  padding: 5px;
  background-color: var(--bg-mod-strong);
  border: none;
  border-radius: 12px;
}

.vc-ranb-button .contents__201d5 {
  font-size: 0;
}

.vc-ranb-button .contents__201d5::after {
  content: "asdfg";
  font-size: 18px;
  width: 16px;
  height: 16px;
  position: relative;
  color: transparent;
  top: 2.5px;
  left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22hsl(0%2C%202%25%2C%2064%25)%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}

.vc-ranb-button:hover {
  background-color: var(--accent-3);
}

.vc-ranb-button:hover .contents__201d5::after {
  background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}


/* PIN PAGE SWITCHER */
[class^="container_"]:has([class^="pageControlContainer_"]) {
  position: sticky;
  bottom: 8px;
  border-radius: 10px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}


/* 📌 UI CLEANUP – REMOVE UNWANTED ELEMENTS 📌*/
/* Remove unnecessary buttons */
button[aria-label|="Send a gift"],
button[aria-label|="Open GIF picker"],
button[aria-label|="Open sticker picker"],
button[aria-label|="Open Translate Modal"] {
    display: none;
}

/* Remove Create Invite & Channel Buttons */
[class^="iconVisibility_"] [aria-label="Create Invite"],
[class^="iconVisibility_"] [aria-label="Edit Channel"],
[class^="iconVisibility_"] [aria-label="Create Channel"] {
    display: none !important;
}

/* Remove Emoji & Separator in Message Actions */
div[aria-label*="Message Actions"] > div > div > div > div[class*="emoji"],
div[aria-label*="Message Actions"] > div > div[class*="separator_"] {
    display: none;
}

/* Remove App Edit Image Button */
div[aria-label="Edit Image with Apps"] {
    display: none;
}

/* Remove Boost Section from Servers */
div[data-list-item-id*="channels___boosts-"] {
    display: none;
}

/* Remove Activities */
[class^=nowPlayingColumn_] {
    display: none;
}

/* Remove Reaction Right-Click Menu */
[id^="message-quickreact-"] {
    display: none !important;
}

/* Remove Empty Space from Reaction Menu */
[id^="message-quickreact-"] {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

/* Remove Add Status */
[aria-label="Add custom status"] {
    display: none;
}

/* Remove Activity Members List */
div[aria-label*="Members"] > div > div[role="listitem"] {
    display: none;
}

/* Remove Certain Message Actions */
[aria-label*="Create Thread"],
[aria-label*="Mark Unread"],
[aria-label*="Copy Link"],
[aria-label*="Pin Message"],
[aria-label*="Copy Message ID"] {
    display: none;
}
