/* Change Some Icons using PNG */
[aria-label="Notification Settings"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Notifications.png);
}

[aria-label="Threads"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Threads.png);
}

[aria-label="Pinned Messages"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Pinned.png);
}

[aria-label="Hide Member List"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Member%20List.png);
}

[aria-label="Vencord Toolbox"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Vencord.png);
}

[aria-label="Inbox"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Inbox.png);
}

[aria-label="Help"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Help.png);
}

[aria-label="New Group DM"] {
    content: url(https://raw.githubusercontent.com/scha-dev/schaicons/main/Member.png);
}
