/* Member Colours v1 */
.members_c8ffbb {
    background: transparent;
  }
  .members_c8ffbb::-webkit-scrollbar-track {
    visibility: visible;
    background: transparent;
  }
  .members_c8ffbb::-webkit-scrollbar-thumb {
    visibility: visible;
    background: transparent;
    border-radius: 0;
    border: none;
  }
  .members_c8ffbb .content-2a4AW9 {
    background: transparent;
  }
  .membersGroup_c8ffbb {
    background: linear-gradient(to right, transparent, var(--Memberlist-Header) 3%, transparent);
    height: unset;
    font-size: 0.85rem;
    line-height: normal;
    letter-spacing: 0.02rem;
    text-transform: none;
    font-weight: 500;
    margin: 0.2rem 0;
    padding: 0.3rem 0.6rem;
    color: #aaa;
  }
  .membersGroup_c8ffbb .roleIcon_c8ffbb {
    margin: 0 0.2rem 0 0;
    padding: 0.2rem;
    height: 0.85rem;
  }
  .member__5d473 {
    height: 44px;
    padding: 0;
    margin: 1 8px;
    max-width: unset;
  }
  .member__5d473 .layout__91a9d {
    height: 44px;
    padding: 0;
    border-radius: 0;
  }
  .member__5d473 .layout__91a9d:hover {
    background: transparent;
  }
  .member__5d473 .avatar__91a9d {
    margin: 0;
    height: 44px;
    width: 48px;
    background: transparent;
    z-index: 2;
  }
  .member__5d473 .avatar__91a9d .wrapper__44b0c {
    border-radius: 0;
    margin: 0 0 0 4px;
  }
  .member__5d473 .avatar__91a9d .wrapper__44b0c .mask__44b0c {
    overflow: visible;
    contain: unset;
  }
  .member__5d473 .avatar__91a9d .wrapper__44b0c .mask__44b0c foreignObject {
    mask: none;
  }
  .member__5d473 .avatar__91a9d foreignObject + rect {
    height: 44px;
    width: 4px;
    x: -8;
    y: -6;
    mask: none;
  }
  .member__5d473 .avatar__91a9d foreignObject + svg {
    overflow: visible;
  }
  .member__5d473 .avatar__91a9d foreignObject + svg rect {
    height: 44px;
    width: 4px;
    x: -22.5;
    y: -23;
    mask: none;
  }
  .member__5d473 .avatar__91a9d .dots-1BwzZQ {
    overflow: visible;
  }
  .member__5d473 .avatar__91a9d .dots-1BwzZQ g circle:nth-child(1) {
    cx: -10;
    cy: -14;
    r: 4;
  }
  .member__5d473 .avatar__91a9d .dots-1BwzZQ g circle:nth-child(2) {
    cx: -2;
    cy: 0;
    r: 4;
  }
  .member__5d473 .avatar__91a9d .dots-1BwzZQ g circle:nth-child(3) {
    cx: 6;
    cy: -14;
    r: 4;
  }
  .member__5d473:hover .content__91a9d .nameAndDecorators__91a9d .username__5d473 span::before {
    opacity: 0.4;
  }
  .member__5d473 .content__91a9d {
    padding: 0 0.4rem;
    display: flex;
    flex-flow: row wrap;
  }
  .member__5d473 .content__91a9d .nameAndDecorators__91a9d {
    z-index: 1;
    min-width: 90%;
    flex: 1 1 auto;
  }
  .member__5d473 .content__91a9d .nameAndDecorators__91a9d .username__5d473 span::before {
    content: "";
    border-radius: 20px;
    position: absolute;
    height: 44px;
    left: 2px;
    right: 0;
    top: 0;
    background: linear-gradient(to right, currentColor 2% 50%, transparent);
    opacity: 0.2;
    z-index: -1;
  }
  