:root {
/* text colors */
  --text-0: rgb(189, 189, 189); /* text on colored elements */
  --text-1: hsl(0, 0%, 73%); /* other normally white text */
  --text-2: hsl(0, 0%, 52%); /* headings and important text */
  --text-3: hsl(0, 2%, 67%); /* normal text */
  --text-4: hsl(0, 0%, 43%); /* icon buttons and channels */
  --text-5: #464545; /* muted channels/chats and timestamps */

/* background and dark colors */
	--bg-1: #5d5a5a; /* dark buttons when clicked */
	--bg-2: #222222; /* dark buttons */
 	--bg-3: hsl(240, 3%, 12%); /* spacing, secondary elements */
 	--bg-4: hsl(240, 2%, 8%); /* main background color */
  	--hover: hsla(0, 0%, 21%, 0.799); /* buttons when hovered */
	--active: hsl(0, 1%, 28%); /* channels and buttons when clicked or selected */
	--message-hover: hsl(0, 0%, 6%); /* messages when hovered */

	--border-light: var(--bg-4);
	--border: var(--bg-4);
	--button-border: var(--bg-4);

/* accent colors */
	--accent-1: hsl(205, 65%, 45%); /* links */
	--accent-2: hsl(0, 0%, 36%); /* general unread/mention elements */
	--accent-3: hsl(0, 91%, 27%); /* accent buttons */
	--accent-4: hsl(0, 1%, 34%); /* accent buttons when hovered */
	--accent-5: hsl(0, 1%, 17%); /* accent buttons when clicked */
	--mention: hsl(0, 2%, 10%); /* mentions & mention messages */
	--mention-hover: hsl(0, 1%, 15%); /* mentions & mention messages when hovered */
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
	--activity-card-background: red;
	--autocomplete-bg: var(--bg-3);

	--background-mentioned: var(--mention);
	--background-mentioned-hover: var(--mention-hover);
	--background-message-highlight: var(--bg-2);
	--background-message-highlight-hover: var(--bg-3);
	--background-message-hover: var(--message-hover);

	--background-primary: var(--bg-4);
	--background-secondary: var(--bg-3);
	--background-secondary-alt: var(--bg-3);
	--background-tertiary: var(--bg-4);

	--bg-base-primary: red;
	--bg-base-secondary: var(--bg-4);
	--bg-base-tertiary: var(--bg-3);
	--background-mod-subtle: var(--bg-3);
	--background-mod-normal: var(--bg-3);
	--background-mod-strong: var(--bg-3);
	--background-base-low: var(--bg-4);
	--background-base-lower: var(--bg-4);
	--background-base-lowest: var(--bg-4);
	--background-surface-high: var(--bg-3);
	--background-surface-higher: var(--bg-3);
	--background-surface-highest: var(--bg-3);
	--background-floating: var(--bg-3);
	--chat-background-default: var(--bg-3);
	--input-background: var(--bg-3);
	--modal-background: var(--bg-4);
	--modal-footer-background: var(--bg-4);

	--background-modifier-accent: var(--hover);
	--background-modifier-active: var(--bg-4);
	--background-modifier-hover: var(--hover);
	--background-modifier-selected: var(--active);

	--bg-mod-faint: var(--bg-3);
	--bg-mod-subtle: var(--bg-2);
	--bg-mod-strong: var(--bg-2);
	--bg-brand: var(--accent-3);

	--border-faint: var(--border-light);
	--border-subtle: var(--border);
	--border-normal: var(--border);
	--border-strong: transparent;
	--input-border: var(--border);

	--button-danger-background: var(--red-2);
	--button-danger-background-active: var(--red-4);
	--button-danger-background-hover: var(--red-3);
	--button-danger-background-disabled: red;
	--button-danger-border: var(--button-border);

	--button-filled-brand-border: var(--button-border);
	--button-filled-brand-inverted-background-active: red;
	--button-filled-brand-inverted-background-hover: red;
	--button-filled-brand-inverted-text: red;
	--button-filled-white-background-active: red;
	--button-filled-white-background-hover: red;
	--button-filled-white-text: red;

	--button-outline-danger-background: var(--bg-2);
	--button-outline-danger-background-active: var(--text-5);
	--button-outline-danger-background-hover: var(--bg-1);
	--button-outline-danger-border: var(--border-light);
	--button-outline-danger-border-active: var(--border-light);
	--button-outline-danger-border-hover: var(--border-light);
	--button-outline-danger-text: var(--red-1);
	--button-outline-danger-text-active: var(--red-1);
	--button-outline-danger-text-hover: var(--red-1);

	--button-positive-background: var(--green-2);
	--button-positive-background-active: var(--green-4);
	--button-positive-background-hover: var(--green-3);
	--button-positive-background-disabled: red;
	--button-positive-border: var(--button-border);

	--button-secondary-background: var(--bg-2);
	--button-secondary-background-active: var(--text-5);
	--button-secondary-background-hover: var(--bg-1);
	--button-secondary-background-disabled: red;
	--button-secondary-text: var(--text-3);

	--button-transparent-background: red;
	--button-transparent-background-active: red;
	--button-transparent-background-hover: red;
	--button-transparent-text: red;

	--card-primary-bg: var(--bg-3);
	--card-secondary-bg: red;
	--channel-icon: var(--text-3);
	--channels-default: var(--text-4);

	--header-primary: var(--text-2);
	--header-secondary: var(--text-4);
	--header-muted: var(--text-4);

	--icon-muted: var(--text-5);
	--icon-primary: var(--text-3);
	--icon-secondary: var(--text-4);
	--icon-tertiary: var(--text-4);

	--info-danger-background: red;
	--info-danger-text: var(--red-new-12);
	--info-help-background: var(--blue-new-77);
	--info-help-text: var(--blue-new-16);
	--info-positive-background: var(--green-new-76);
	--info-positive-text: var(--green-new-17);
	--info-warning-background: var(--yellow-new-76);
	--info-warning-text: var(--yellow-new-15);

	--text-primary: var(--text-3);
	--text-secondary: var(--text-4);
	--text-normal: var(--text-3);
	--text-default: var(--text-3);
	--text-tertiary: var(--text-4);
	--text-muted: var(--text-5);

	--interactive-normal: var(--text-4);
	--interactive-hover: var(--text-3);
	--interactive-active: var(--text-3);
	--interactive-muted: var(--text-5);

	--channel-text-area-placeholder: var(--text-5);

	--scrollbar-auto-thumb: var(--bg-3);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-3);
	--scrollbar-thin-track: transparent;
}

.visual-refresh {
	::placeholder {
		color: var(--text-5);
	}

	.modeUnreadImportant__2ea32 .icon__2ea32,
	.wrapper__2ea32:hover .icon__2ea32 /* correct channel icon color */ {
		color: var(--text-3);
	}

	.text_b88801 > strong /* xxx is typing.. */ {
		color: var(--text-3);
	}

	.folder__48112[aria-expanded="false"] > .folderIconWrapper__48112 /* collapsed folders */ {
		--background-primary: var(--bg-3);
	}

	.panel__5dec7 /* game activity panel */,
	#vc-spotify-player /* vencord spotify plugin */ {
		background-color: var(--bg-4);
	}

	.side_b3f026 .item_b3f026:hover /* settings tab */ {
		background-color: var(--bg-3) !important;
	}
	.side_b3f026 .item_b3f026:active,
	.side_b3f026 .item_b3f026.selected_b3f026 {
		background-color: var(--bg-2) !important;
	}

  	.newMessagesBar__0f481 {
  		background-color: var(--accent-3);
 	 }

	.lookFilled__201d5.colorBrand__201d5 {
 		background-color: var(--accent-3);
	}

	.visual-refresh .barButtonAlt__0f481 {
  		background: var(--accent-3);
	}

	.activeButton_c15210 {
  		background: var(--accent-3);
	}
}
